extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 My homepage.
              |                 
              hr
              |                 
              p
                | My homepage, presenting some of my portfolio. This page made with express and node.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Buttooon!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading This part is orange.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Orange text.
                |                     
                a.btn.btn-default.btn-xl(href='#') Back up!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading All sorts of shiny thingamalings!
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Pretty diamonds!
                  |                         
                  p.text-muted What can I say, diamonds!
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Plaaaaaaane
                  |                         
                  p.text-muted Weeeeeeeeeeeeeeeee.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Will create a dota2 reddit parser
                  |                         
                  p.text-muted Coming up!
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Aww
                  |                         
                  p.text-muted It's a heart.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 DARK text!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Back up!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Game development
                      |                                 
                      .project-name
                        | Runaway Rush
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Game development
                      |                                 
                      .project-name
                        | Kinetic games
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | M.Sc
                      |                                 
                      .project-name
                        | 3D model from a single RBG-D view
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Web development
                      |                                 
                      .project-name
                        | Jekyll, github.
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Web development
                      |                                 
                      .project-name
                        | this page
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Next challenge!
                      |                                 
                      .project-name
                        | ?
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who am I
                |                     
                hr.primary
                |                     
                p
                  | Software developer, developing my skills in web development.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p Na-aah!
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:aepohjola-inserttheatsignhere-andthegmailendinghere') Email me!